body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}
form {
    margin-top: 20px;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.image-card {
    margin: 10px;
    width: 200px;
}
.image-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}
.image-info {
    text-align: center;
    font-size: 14px;
}